h1, h2{
  font-weight: bold;
}

body{
  color: white;
  font-weight: bold;
}

:root{
  --blue-dark: #2c3e50;
  --blue-light: #3a546d;
  --acqua: #1abc9c;
  --black: #333;
  --height-header: 60px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--blue-dark);
  height: var(--height-header);
}

/* SECTION  */

section::before{
  content: '';
  display: block;
  height: var(--height-header);
  margin: -var(--height-header) 0 0 ;
}

section:nth-child(odd){
  background-color: var(--acqua);
}

section:nth-child(even){
  color: var(--blue-dark);
}

section .image img{
  border-radius: 20px;
}

section h1{
  font-size: 2.5rem;
}

section:nth-child(even) h2{
  color: var(--black);
}

section .star{
  position: relative;
  font-size: 2rem;
  margin: 0 1vw;
}

.star:before{
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  border-radius: 4px;
  background-color: white;
  width: 15vw;
}

.star:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  height: 4px;
  border-radius: 4px;
  background-color: white;
  width: 15vw;
}

.star.dark::before{
  background-color: var(--blue-dark);
}

.star.dark::after{
  background-color: var(--blue-dark);
}

#portfolio .image{
  position: relative;
}

#portfolio .image .overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #1abc9cb9;
}

#portfolio .image:hover .overlay{
  display: block;
  cursor: pointer;
}

#portfolio .image .overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
}

.ac_container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.ac-form input, 
.ac-form textarea{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.ac-form input:focus, 
.ac-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13, 110, 253, 0.25);
}

.ac-form ::placeholder{
  color: var(--blue-dark);
}

.ac_btn{
  background-color: var(--acqua);
}

/* FOOTER  */

.footer_top{
  font-size: 1.3rem;
  background-color: var(--blue-light);
}

footer .footer_top .social ul li{
  list-style: none;
  height: 40px;
  width: 40px;
}

footer .footer_top .description span{
  color: var(--acqua);
}

footer .footer_bottom{
  background-color: var(--blue-dark);
}
