/* DEBUG */
/* [class^='container'], [class^='col']{
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid black;
  min-height: 50px;
} */

h1, h2{
  font-weight: bold;
}

body{
  color: white;
  font-weight: bold;
}

:root{
  --blue-dark: #2c3e50;
  --blue-light: #3a546d;
  --acqua: #1abc9c;
  --black: #333;
}

header{
  background-color: var(--blue-dark);
  height: 70px;
}

/* SECTION  */

section{
}

section:nth-child(odd){
  background-color: var(--acqua);
}

section:nth-child(even){
  color: var(--blue-dark);
}

section:nth-child(even) .line{
  background-color: #2c3e50;
}

section .image img{
  border-radius: 20px;
}

section h1{
  font-size: 2.5rem;
}

section:nth-child(even) h2{
  color: var(--black);
}

section .line{
  height: 4px;
  border-radius: 4px;
  background-color: white;
  width: 15vw;
}

section .star{
  font-size: 2rem;
  margin: 0 1vw;
}

.ac_container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.ac-btn{
  color: white;
  border: 1px solid white;
  font-weight: bold;
  /* !important prevale su bootstrap  */
  /* border-radius: 0 !important; */
}

.ac-form input, 
.ac-form textarea{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.ac-form input:focus, 
.ac-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13, 110, 253, 0.25);
}

.ac-form ::placeholder{
  color: var(--blue-dark);
}

.ca-btn{
  color: white;
  background-color: var(--acqua);
  font-weight: bold;
}

.footer_top{
  background-color: var(--blue-light);
  height: 150px;
}

.footer_bottom{
  background-color: var(--blue-dark);
  height: 70px;
}